.metro [data-role=panel] .panel-header:after {
	float:left
}

.metro .tile .brand .badge,
.metro .tile .tile-status .badge {
	right:0;
	left:10px
}

.videos{
	width: 100%;
	padding-left:20px;
	height:900px;
}

.second_bg{
	width: 100%;
	padding-left:20px;
	height:900px;
}